*
{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'WorkSans';
    src: url(assets/fonts/static/WorkSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family:'WorkSans';
    src:url(assets/fonts/static/WorkSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family:'WorkSans';
    src:url(assets/fonts/static/WorkSans-SemiBold.ttf);
    font-weight: 600;
}

:root{
    --main-font:'WorkSans',sans-serif;
    --fw-regular:400;
    --fw-semi:600;
    --fw-bold:700;
}

.card
{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
}

.card1
{
    width: 100%;
    height: 35%;
    background-image:url(assets/images/background-pattern-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.card2
{
    width: 100%;
    height: 65%;
    background-color: hsl(275, 100%, 97%);
}

.card3
{
    width: 32%;
    min-height: 60%;
    border-radius: 1em;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    right: 32%;
    bottom: 13%;
    padding: 1%;
}

.maincard
{
    margin: 3%;
    padding-top: 2%;
    /* position: relative; */
}

.heading
{
    display: flex;
    gap: 4%;
    margin-bottom: 9%;
    color: hsl(292, 42%, 14%);
    font-family:var(--main-font);
    font-weight: var(--fw-bold);
    font-size: 1.3em ;
}

.q1
{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.q1 p
{
    color: hsl(292, 42%, 14%);
    font-family: var(--main-font);
    font-weight: var(--fw-semi);
    cursor: pointer;
}

.q1 p:hover
{
    color: hsl(280.92deg 82.98% 53.92%);
}
.a1
{
    margin-top:7%;
    margin-bottom: 5%;
    display: none;
    color: hsl(292, 16%, 49%);
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: var(--fw-regular);
}
.question img
{
    position: absolute;
    right: 0%;
    cursor: pointer;
    vertical-align: top;
}

hr{
    margin: 6% 0% 6% 0%;
}

.active
{
    display: block;
}


@media screen and (max-width: 768px) {

    *
    {
        font-size: 16px;
    }
.card1
{
    width: 100%;
    height: 34%;
    background-image:url(assets/images/background-pattern-mobile.svg);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card2
{
    width: 100%;
    height:66%;
    background-color: hsl(275, 100%, 97%);
}

.card3
{
    width: 78%;
    min-height: 60%;
    border-radius: 1em;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    
    right: 10%;
    bottom: 13%;
    padding: 1%;
}

.maincard
{
    margin: 3%;
    padding-top: 2%;
}

.faqs 
{
  display: flex;
  justify-content: center;
  align-items: center;
    margin-left: 2%;
}
h1
{
    font-size: 2em;

}

.q1 p
{
    margin-right: 12%;
    padding-right: 2%;
}


}